.container {
  .login {
    width: 60%;
    margin-left: 20%;
    padding: 60px;

    @media only screen and (max-device-width: 768px) {
      padding: 1rem 0rem;
      width: 80%;
      margin-left: 10%;
    }

    .login-heading {
      color: #e45b51;
      padding-bottom: 15px;

      @media only screen and (max-device-width: 768px) {
        padding-bottom: 1rem;
        font-size: 1.7rem;
      }
    }

    .error {
      color: red;
      font-size: smaller;
    }

    form {
      .submit-btn {
        background: #e45b51;
        color: antiquewhite;
        padding: 15px;

        @media only screen and (max-device-width: 768px) {
          padding: 0.5rem;
          width: 5rem;
        }
      }
    }
  }

  margin-bottom: 5rem;
}